<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <title>Addresses</title>
    
</head>
<body>
    <section class='container mt-2'>
    <h1>Addresses</h1>
    <form action='{% url 'cadastro' %}' method='post'>
    {% load widget_tweaks %}
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div>
        <label for'{{field.id_for_label}}'>{{field.label}}</label>
        {{field|add_class:'form-control'}}
    </div>
    {% endfor %}
    <br></br>
    <input type='submit' value='Enviar' class='btn btn-success mb-2' href= {% url 'index' %} role='button'>
    </form>
    </section>
</body>
</html>